data structures

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
b = [1,2,3,4,'rajesh']
print(b)

[1, 2, 3, 4, 'rajesh']

list operations

In [ ]:
print(a[9])
print(a[-1])

10
10

In [ ]:
b.append(13)
print(b)

[1, 2, 3, 4, 'rajesh', 13]

In [ ]:
b.insert(-1,18)
print(b)

[1, 2, 3, 4, 'rajesh', 18, 13]

In [ ]:
a.pop(3)
a

[1, 2, 3, 5, 6, 7, 8, 9, 10]

In [ ]:
len(a)

9

In [ ]:
prakruthi = [3,5,8,6,2,9]
prakruthi.sort()
print(prakruthi)

[2, 3, 5, 6, 8, 9]

In [ ]:
numbers = {1,2,3,4,5,7,8,9,10}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
numbers.remove(3)
print(numbers)

{1, 2, 4, 5, 6, 7, 8, 10}

In [ ]:
for i in a:
  print(i)

1
2
3
5
6
7
8
9
10

tuples

In [ ]:
prakruthi = (10,20,30)
print(prakruthi[1])

20

dictionary

In [ ]:
student ={
  'name':'preritha',
  'age':18,
  'marks':95
}
student

{'name': 'preritha', 'age': 18, 'marks': 95}

accessing

In [ ]:
print(student['name'])

preritha

modifying

In [ ]:
student['age']=19
print(student)

{'name': 'preritha', 'age': 19, 'marks': 95}

adding

In [ ]:
student['grade']='A'
student

{'name': 'preritha', 'grade': 'A'}

removing

In [ ]:
del student['age']
print(student)

{'name': 'preritha', 'grade': 'A'}

set

In [ ]:
monkey = {1,2,3,4,5,6,7,8,9}
monkey

{1, 2, 3, 4, 5, 6, 7, 8, 9}

merge two lists

In [ ]:
list1=[6,7,8,9,10]
list2=[1,2,3,4,5]
merged_list=list1+list2
print('merged list:',merged_list)

merged list: [6, 7, 8, 9, 10, 1, 2, 3, 4, 5]

find the maximum and minimum in a list

In [ ]:
numbers=[10,20,30,40,50,60]
print('maximum:',max(numbers))
print('minimum:',min(numbers))

maximum: 60
minimum: 10

count frequency of elements in a list

In [ ]:
numbers=[1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]
frequency={}
for num in numbers:
  frequency[num]=frequency.get(num,0)+1
print('frequency of elements:',frequency)

frequency of elements: {1: 1, 2: 2, 3: 3, 4: 4, 5: 5}

sort a list of tuples by the second element

In [ ]:
abc ={
  'name':'preritha',
  'age':18,
  'marks':95
}
abc

{'name': 'preritha', 'age': 18, 'marks': 95}

In [ ]:
abc['grade']='a'
abc

{'name': 'preritha', 'age': 18, 'marks': 95, 'grade': 'a'}

sort of a list of tuples by asecond element

In [ ]:
tuples=[(1,'apples'),(2,'banana'),(3,'cherry')]
sorted_tuples = sorted(tuples,key = lambda x:x[1])
print('sorted tuples:',sorted_tuples)

sorted tuples: [(1, 'apples'), (2, 'banana'), (3, 'cherry')]

In [1]:
number=int(input('enter a number:'))
reverse_number=0
temp=number

while temp>0:
  digit=temp % 10
  reverse_number= reverse_number*10+digit
  temp = temp // 10

if number==reverse_number:
  print(f'{number}pali')
else:
  print(f'{number} not pali')

enter a number:1234321
1234321pali